.features {
  display: flex;
  align-items: center;
  padding: 4rem 0 5rem;
  width: 100%;
}

.featureSvg {
  height: 160px;
  width: 160px;
}

@media screen and (max-width: 996px) {
  .features {
    padding: 3rem 0 4rem;
  }

  .featureSvg {
    height: 140px;
    width: 140px;
  }
}
